{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    
    <!-- Sidebar -->
    <div class="col-md-3 col-lg-2 bg-dark border-end min-vh-100">
      {% include "_dashboard_sidebar.html" %}
    </div>

    <!-- Content Area -->
    <div class="col-md-9 col-lg-10 py-4">
      <div class="ps-4" style="max-width: 700px;">
        {% block dashboard_content %}
        <h1>Dashboard</h1>
        <!-- your settings form(s) go here -->
        {% endblock %}
      </div>
    </div>

  </div>
</div>
{% endblock %}

