{% extends "base.html" %}
{% block title %}Gallery | M Y R K{% endblock %}

{% block content %}
    <div id="galleryViewport">
        <div class="gallery-container">
            <div class="gallery-track" id="galleryTrack">
            {% for piece in pieces %}
                <div class="gallery-item">
                    <img src="{{ url_for('static', filename=piece.front_image) }}" alt="{{ piece.title }}">
                    <a href="{{ url_for('view_piece', piece_id=piece.id) }}" class="view-details">View Details</a>
                </div>
            {% endfor %}
        </div>
    </div>
<section class="container text-center py-5">
    <a href="{{ url_for('index') }}" class="btn btn-outline-light mt-4">Return Home</a>
</section>
{% endblock %}
